In [1]:
# !virtualenv aenv

In [2]:
!aenv\Scripts\activate

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\surendra\appdata\local\programs\python\python37\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\surendra\appdata\local\programs\python\python37\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\users\surendra\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\surendra\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\surendra\appdata\roaming\python\python37\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\surendra\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import psycopg2 as pg
import time
import numpy as np
import pandas as pd

In [6]:
conn = pg.connect(database="postgres",user="postgres",password="Surendra@9144",host="localhost", port="5432")

In [7]:
query = "SELECT * FROM logistics_data"
data = pd.read_sql(query, conn)

In [8]:
data.head()

,origin_city,origin_state,origin_latitude,origin_longitude,destination_city,destination_state,dest_latitude,dest_longitude,equipment_type,rate_search_type,fuel_charges,avg_rate_rpm,date_year,date_month,data_date
0,ALABASTER,AL,33.218709,-86.783546,FRANKLINVILLE,NY,42.335942,-78.431447,Flat Bed,shipper,4.4,9.05,2024,6,22
1,ALABASTER,AL,33.226802,-86.905589,CHEMUNG,NY,42.058959,-76.613664,Van,carrier,3.6,13.15,2022,2,19
2,ALACHUA,FL,29.821385,-82.490936,ALBANY,NY,42.652500,-73.756700,Reefer,shipper,3.3,10.78,2023,7,3
3,ALACHUA,FL,29.787679,-82.494362,SCHENECTADY,NY,42.814800,-73.939300,Reefer,carrier,4.3,13.79,2020,1,12
4,ALAMANCE,NC,36.035100,-79.486300,PONCE,PR,18.000417,-66.614669,Flat Bed,shipper,4.9,9.36,2024,6,11

In [9]:
data.dtypes

origin_city           object
origin_state          object
origin_latitude      float64
origin_longitude     float64
destination_city      object
destination_state     object
dest_latitude        float64
dest_longitude       float64
equipment_type        object
rate_search_type      object
fuel_charges         float64
avg_rate_rpm         float64
date_year              int64
date_month             int64
data_date              int64
dtype: object

In [10]:
query = "SELECT * FROM status"
statuses = pd.read_sql(query, conn)

In [11]:
statuses

Empty DataFrame
Columns: [no_of_rows, modified_time]
Index: []

In [12]:
query = "select * from cities_data"
cities = pd.read_sql(query,conn)

In [13]:
cities.head()

          city state_id      lat       lng
0     New York       NY  40.6943  -73.9249
1  Los Angeles       CA  34.1141 -118.4068
2      Chicago       IL  41.8375  -87.6866
3        Miami       FL  25.7840  -80.2101
4      Houston       TX  29.7860  -95.3885